<h1><%= I18n.t('title') %></h1>
<%= form_with scope: :yaml_sample, url: yaml_samples_path, local: true do |form| %>
  <p>
    <%= form.text_area :text, placeholder: t('sample.text_entry_placeholder') %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
